
.ingredients {
    background-color: #fff;
    height: 550px;

    .head {
        display: flex;
        align-content: center;
        height: 120px;
        background-color: #00c234;
        color: #fff;
        font-size: 2.5em;

        .container { 
            text-align: center;

            p {
                margin: 20px auto 0 auto;
                
            }
        }
     }
}